html{
    height: 100%;
    width: 100%;   
}

body{
/*    background-color:#efefef; */
/*    background-color: rgb(29,29,29); */
    background-color: white;

    font: normal 1em Roboto, Arial, Verdana, georgia,times,"times new roman",Sans-Serif,serif; 
    padding: 0px;
    margin: 0px;
}

.centered {
    text-align: center;
}


section {
    height: 600px;
/*    margin-bottom: 3px; */
}

header {
    display: inline-block;
    width: 59%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    font: normal 1rem Roboto, Arial, Verdana, georgia,times,"times new roman",Sans-Serif,serif;
    font-weight: 300;
    padding: 4.85%;
    color: #EEE;
}

article {
    width: 39%;
    display: inline-block;
    height: 100%;
    font: normal 1.5rem Roboto, Arial, Verdana, georgia, sans-serif;
    font-weight: 300;
    padding: 3%;
    overflow: visible;
    vertical-align: top;
}

.rounded {
    border-radius: 50%;
    display: block;
    margin: auto;
}

.fullImg {
    width: 100%;
}

.important {
    color: rgb(19, 19, 19);
}

.unimportant {
    color: rgb(100, 100, 100);
}

.semi-important {
    color: #222;
}

.column1of2 {
    width: 49%;
    display: inline-block;
}

.column2of2 {
    width: 49%;
    display: inline-block;
}

.fullTbl {
    width: 100%;
}

.description {
    font-size: 0.9em;
    margin: 0px;
}

.time {
    font-size: 0.75em;
}
.tech {
    font-size: 0.75em;
}
.team {
    font-size: 0.75em;
}
.mentor {
    font-size: 0.75em;
}
.context {
    font-size: 0.75em;
}

.details {
    margin-top: 0px;
}

.sz1 {
    font-size: 1em;
}
.sz2 {
    font-size: 0.9em;
}
.sz3 {
    font-size: 0.8em;
}
.sz4 {
    font-size: 0.7em;
}
.sz5 {
    font-size: 0.67em;
}
.sz6 {
    font-size: 0.6em;
}
.sz7 {
    font-size: 0.55em;
}
.sz8 {
    font-size: 0.50em;
}
.sz9 {
    font-size: 0.45em;
}
.sz10 {
    font-size: 0.4em;
}


@media (max-width: 768px) {

}