html{
    height: 100%;
    width: 100%;   
}

body{
/*    background-color:#efefef; */
    font: normal 1em/1.5 Arial, Verdana, georgia,times,"times new roman",Sans-Serif,serif; 
    padding: 0px;
    margin: 0px;
}

section {
    margin-top: 50px;
    padding: 50px 0px;
}

header {
    max-width: 600px;
    padding: 0% 5%;
}

header {
    font: normal 1.5rem Roboto, Arial, Verdana, georgia,times,"times new roman",Sans-Serif,serif;
    font-weight: 300;
}

article {
    width: 400px;
    height: 485px;
    display: inline-block;
    outline: 1px solid black;
    font: normal 1rem Roboto, Arial, Verdana, georgia, sans-serif;
    font-weight: 300;
    margin-right: 10px;
    vertical-align: bottom;
}

article h1{
    font-size: 2.7rem;
}

#intro-header{
    margin: 100px auto;
}

#section-school {
    background-color: rgb(245, 102, 11);
/*    background-color:#ff6600; */
/*    background-color: rgb(203, 96, 21); */
/*    color: #331B05; */
/*    color: #4B2408; */
/*    color:#1f1f1f; */
}



@media (max-width: 768px) {

}